<div class="container">
    <div class="header">
        <div class="header-logo">
            <img src="assets/svg/focus_logo.svg" />
            <h1 class="color-white">FOCUS</h1>
        </div>
        <ul class="header-options">
            <li routerLink="/capacitador/cursos" routerLinkActive="active" tabindex="-1">Cursos</li>
            <li class="evaluaciones" id="calificaciones" routerLink="/capacitador/evaluaciones" routerLinkActive="active" tabindex="-1">Evaluaciones</li>
            <li routerLink="/capacitador/mi-cuenta" routerLinkActive="active" tabindex="-1">Mi cuenta</li>
        </ul>
    </div>
</div>