<div class="row mt-5 mb-2">
    <div class="col-md-12 d-flex flex-column align-items-end">
        <button nz-button nzType="primary" nzSize="large" nzShape="round" class="btn-create-course">Registrar Capacitador</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12 d-flex flex-column justify-content-center">
        <img src="../../../../assets/images/no-capacitors-admin.svg" alt="No Capacitors" class="img-fluid">
        <p class="txt-no-capacitors">Aún no existen <span style="color: #65E2D9;">capacitadores</span> ¡Registra uno!</p>
    </div>
</div>