<div class="row mt-5 mb-2">
    <div class="col-md-12 d-flex flex-column align-items-end">
        <button nz-button nzType="primary" nzSize="large" nzShape="round" class="btn-create-course">Registrar Docente</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12 d-flex flex-column justify-content-center">
        <img src="../../../../assets/images/no-teachers-admin.svg" alt="No Teachers" class="img-fluid">
        <p class="txt-no-teachers">Aún no existen <span style="color: #65E2D9;">docentes</span> ¡Registra uno!</p>
    </div>
</div>