<div class="row row-header">
    <div class="col-md-4 d-flex flex-row align-items-center justify-content-start pt-2">
        <img src="../../../assets/images/focus-logo-md.svg" alt="Focus" class="img-fluid">
        <p class="link-header ml-3">FOCUS</p>
    </div>
    <div class="col-md-6 d-flex flex-row justify-content-end pt-2">
        <p class="link-header mx-3">Cursos</p>
        <p class="link-header mx-3">Capacitadores</p>
        <p class="link-header mx-3">Docentes</p>
    </div>
    <div class="col-md-2 d-flex flex-row justify-content-end pt-2">
        <p class="link-header">Mi Cuenta</p>
    </div>
</div>