.header{
    width: 100%;
    display: grid;
    margin: 20px 0;
    grid-template-columns: 1fr 1fr;
}

.header-logo{
    display: flex;
}

.header-logo > h1{
    margin-left: 16px;
    margin-top: 8px;
}

.header-options{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-options > li {
    margin: 0 16px;
    cursor: pointer;
    color: #ffffff;
}

.header-options > li:hover{
    font-size: 17px;
    color: #55D2C9;
    transition: all .2s ease-in;
}

.active{
    color: #65E2D9 !important;
    font-size: 17px;
}

.color-white{
    color: #ffffff;
}

#calificaciones{
    margin-right: 100px;
}