<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true" id="modal-docentes">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-bg-teachers">
            <div class="container-fluid">
                <div class="row mt-4 mb-3">
                    <div class="col-md-12">
                        <p class="title-modal">EDITAR DOCENTES</p>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-10">
                                <p class="subtitle-modal">Docentes sin agregar</p>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-8 d-flex flex-row teacher-no-selected">
                                <p class="name-teacher-no-selected">Carlos Rodriguez
                                    <i nz-icon nzType="plus-square" class="icon-add ml-3" nzTheme="outline"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-10">
                                <p class="subtitle-modal">Docentes agregados</p>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-8 d-flex flex-row teacher-selected">
                                <p class="name-teacher-selected">Franz Carhuaricra
                                    <i nz-icon nzType="minus-square" class="icon-minus ml-3" nzTheme="outline"></i>
                                </p>
                            </div>
                            <div class="col-md-8 d-flex flex-row teacher-selected">
                                <p class="name-teacher-selected">Diego Tueros
                                    <i nz-icon nzType="minus-square" class="icon-minus ml-3" nzTheme="outline"></i>
                                </p>
                            </div>
                            <div class="col-md-8 d-flex flex-row teacher-selected">
                                <p class="name-teacher-selected">Dany Torrealva
                                    <i nz-icon nzType="minus-square" class="icon-minus ml-3" nzTheme="outline"></i>
                                </p>
                            </div>
                            <div class="col-md-8 d-flex flex-row teacher-selected">
                                <p class="name-teacher-selected">Carlos Yaringaño
                                    <i nz-icon nzType="minus-square" class="icon-minus ml-3" nzTheme="outline"></i>
                                </p>
                            </div>
                            <div class="col-md-8 d-flex flex-row teacher-selected">
                                <p class="name-teacher-selected">Alexander Soto
                                    <i nz-icon nzType="minus-square" class="icon-minus ml-3" nzTheme="outline"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    
                </div>
            </div>
        </div>
    </div>
</div>