@import "./styles/ng-zorro-antd-dark.css";


* {
    font-family: 'DM Sans';
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #e6fcfba0;
  }

  ::-webkit-scrollbar-thumb {
    background: #7fded7;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #65E2D9;
  }

  .modal-backdrop {
    z-index: 999 !important;
}

.colorAccent{
    color: #65E2D9;
}

.colorWhite{
    color: white;
}